<h4 class="m-3">Recently Added Courses</h4>
<div>
    <div class="row m-3">
        <div *ngFor="let course of recentCourses;" class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top card-img-css" src="https://www.w3schools.com/tags/img_girl.jpg"
                        alt="Card image cap">
                    <h5 class="card-title">{{course.courseName | titlecase}}</h5>
                    <div> 
                        <button *ngIf="userType == 'student'" class="btn btn-primary d-block"
                        (click)='viewCourse(course)'>View Course</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 class="m-3">New Events</h4>
<div>
    <div class="row m-3">
        <div *ngFor="let event of recentEvents;" class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top card-img-css" src="https://www.w3schools.com/tags/img_girl.jpg"
                        alt="Card image cap">
                    <h5 class="card-title">{{event.eventName}}</h5>
                    <button *ngIf="userType == 'student'" class="btn btn-primary d-block"
                        (click)='viewEvent(event)'>View Event</button>

                </div>
            </div>
        </div>
    </div>
</div>