<button (click)="addEvent()" class="btn btn-primary float-right" *ngIf="userType == 'instructor'">Add Event</button>
<div class="row m-3">
    <div *ngFor="let event of eventList;" class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{event.eventName}}</h5>
                <p class="card-text">{{event.description}}</p>
                <label class="card-text d-inline">Instructor:</label>
                <p class="card-text d-inline"> {{event.fullName}}</p>
                <button *ngIf="userType == 'student'" class="btn btn-primary d-block" (click)='joinEvent(event)'>Join Event</button>

            </div>
        </div>
    </div>
</div>