body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    display: block;
    overflow: hidden;
    background-color: #000;
}

.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: beige;
    color: black;
}
.signout {
    float: right;
}

.topnav a{
    color: beige;
}

