.card-img-css {
    height: 250px;
    width: 50%;
    float: right;
    padding: 5px 15px;
}

.card {
    width: 90%;
    background: black;
    color: beige;
    .card-title {
        margin-top: 5px;
        text-align: center;
    }
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        button {
            background-color: beige;
            color: black;
            border-color: black;
        }
    }

}


.questions {
    font-size: 1rem;
    color:#ff0000b0;
  }
  .answer{
    font-size:0.75rem;
    
  }
  
  .QnAContainer{
    padding:0.2rem 1rem 0.5rem 1rem;
    background-color:#8080804d;
    box-shadow: 1px 1px;
    border-radius:10px;
    margin-top:1rem;
  }
  
