<div>
    <div>
        <img class="card-img-top card-img-css" src="https://www.w3schools.com/tags/img_girl.jpg" alt="Card image cap">
        <h5>{{course.courseName | uppercase}}</h5>
        <p>{{course.description}}</p>
        <label>Instructor: {{instructorName}}</label><br>
        <label>Course Fees: ${{course.price || 0}}</label>
        <button *ngIf="userType == 'student' && !isStudentRegistered" class="btn btn-primary d-block"
            (click)='enrollCourse(course)'>Enroll
            Course</button>
        <button *ngIf="userType == 'student' &&  isStudentRegistered" class="btn btn-primary d-block" disabled>Course
            Enrolled</button>
    </div>
</div>
<h3>Queries</h3>
<div>
    <div *ngFor="let item of queries">
        <div class="QnAContainer"><p class="questions">{{item.question}}</p>
            <span class="answer">{{item.answer}}</span>
            </div>
    </div>
</div>