button,button:disabled {
    background-color: black;
    color: beige;
    border-color: beige;
}
button:hover {
    background-color: beige;
    color: black;
}

.mat-button-toggle-checked {
    background-color: black;
    color: beige;
}