
  <div class="container">
   <!-- column 1 -->
    <div class="col">

    </div>
     <!-- column 2 form contrainer -->
    <div class="col shadow-lg p-3 mb-5 bg-white rounded">
        <h4 class="display-5 text-center">Register</h4>
      <form [formGroup]="studentRegistrationForm" (ngSubmit)="addUser()">
      	<!-- Username input -->
        <div class="form-outline mb-1 mx-3 mt-3">
          <label class="form-label">Username</label>
          <input id="userName" type="text" class="form-control" formControlName="userName"/>
        </div>
        
        <!-- Password input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password"/>
        </div>
        
        <!-- Firstname input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Fisrt Name</label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName"/>
        </div>
        
        <!-- Lastname input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Last Name</label>
          <input id="lastName" type="text" class="form-control" formControlName="lastName"/>
        </div>
        
        <!-- Email input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Email Address</label>
          <input id="email" type="email" class="form-control" formControlName="email"/>
        </div>
        
        <!-- DOB input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Date of Birth</label>
          <input id="dob" type="date" class="form-control" formControlName="dob"/>
        </div>
        
        <!-- College input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">College</label>
          <input id="college" type="text" class="form-control" formControlName="college"/>
        </div>
       
        <!-- Student ID input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Student ID</label>
          <input id="studentId" type="text" class="form-control" formControlName="studentId"/>
        </div>
        
        <!-- Department input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Department:</label>
          <input id="dept" type="text" class="form-control" formControlName="dept"/>
        </div>
        
         <!-- Contacts input -->
        <div class="form-outline mb-1 mx-3">
          <label class="form-label">Contacts</label>
          <input id="contacts" type="text" class="form-control" formControlName="contacts"/>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mx-3 my-3" type="submit" [disabled]="!studentRegistrationForm.valid">Submit</button>
      </form>
    </div>
    
     <!-- column 3 -->
    <div class="col-sm">
      
    </div>
</div>




