<div>
    <div>
        <img class="card-img-top card-img-css" src="https://www.w3schools.com/tags/img_girl.jpg" alt="Card image cap">
        <h5>{{event.eventName | uppercase}}</h5>
        <p>{{event.description}}</p>
        <label>Instructor: {{instructorName}}</label><br>
        <button *ngIf="userType == 'student' && !isStudentJoined" class="btn btn-primary d-block"
            (click)='joinEvent(event)'>Enroll
            Course</button>
        <button *ngIf="userType == 'student' &&  isStudentJoined" class="btn btn-primary d-block" disabled>Course
            Enrolled</button>
    </div>
</div>